.WeatherForecast {
  text-align: center;
  margin-top: 50px;
}

.WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 5px;
}
.WeatherForecast-day {
  margin-right: 15px;
}
.WeatherForecast h4 {
  margin-bottom: 30px;
  font-size: 20px;
}
